*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav1{
    font-size: 14px;
}
.error-d {
    color: red;
    font-size: 14px;
    display: none;
}
/* .card-padding{
    padding-left: 25px;
} */
.searchinput{
    font-size: 17px;
    padding: 10px 10px;
    font-weight: 480;
    width: 120%;
}
.Score-exclusive{
    padding-top: 50px;
}
/* .start{
    padding-left: 90px;
    padding-right: 100px;
} */
.ulstyle{
    
    /* font-size: 18px; */
    /* transform: translateY(5px); */
}
.but{
    background-color: #A91523;
    color: white;
    font-size: 15px;
}
.but:hover{
    background-color: #FBE700;
    color: black;
}
.loginborder:focus{
    border: 1px solid black;
}
.continue{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    background-color: #FF4C00;
    border: none;
}
.auth-continue{
    background-color: #FF4C00;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    border: none;
}
/* .continue:hover{
    background-color: #ffffff;
    padding: 13px 0;
    color: #1125A9;
    border: 2px solid #1125A9;
}
.cont-color{
    color: white;
}
.cont-color:hover{
    color: #1125A9;
} */

/* .cot{
    width: 100%;border-radius: 50px;
    background-color: #1125A9;
    border: none;
    color: white;
} */
.learnmore{
    width: 40%;
    border-radius: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    background-color: white;
    color: black;
}
.learnmore:hover{
    border-radius: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    background-color: #FBE700;
    color: black;
}
.userplace{
    padding-top: 11px;
    padding-bottom: 11px;
}
.userplace::placeholder{
    color: black;
    font-size: 19px;
}
.userplace:focus{
    outline: 1px solid black;
    
}
.checkbox{
    transform: translateY(1px);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* For Chrome, Safari, Edge */
    margin: 0;
}
footer{
    background-color: #313131;
    margin-top: 100px;
}

/* Small Screen */
/* @media screen and (max-width:768px) {
    .Score-exclusive{
        padding-top: 50px;
        width: 50%;
        
    }

    #loginDiv{
        border: 2px solid red;
        display: flex;
        flex-direction: row;

    }

} */

@media screen and (max-width:478px) {
    /* section {
        height: 100vh;
    } */
    footer{
        margin-top: 160px;
    }
    /* .continue:hover{
        background-color: initial;
        color: initial;
        border: initial !;
        
    } */
}
/* @media (min-width: 768px) and (max-width: 1024px){
    section{
        border: 2px solid red;
    }
} */
